.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 1.1rem !important;
        padding-right: 1.1rem !important;
    }
}

.sfr-value {
    flex-grow: 2;
}

.sfr-label {
    font-weight: bold;
    white-space: pre;
}

.smaller-text {
    font-size: 0.97em;
}

.table-sm {
    font-size: 0.97em;
    margin: 0;
}

.tr1 td {
    height: 2ex;
    overflow: hidden;
}

.tr1 th {
    height: 1.5ex;
}

.tr2 td {
    vertical-align: top;
}

.tr2 th {
    vertical-align: top;
}

.port-table {
    width: 100%;
}

.port-label{
    width: 2.5em;
}


