@page "/"
@using System.Runtime.InteropServices

<PageTitle>Index</PageTitle>

<InputFile OnChange="@LoadFiles" multiple />

@code {
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        string reader = await new StreamReader(e.File.OpenReadStream()).ReadToEndAsync();
        Console.WriteLine(reader);
    }
}

<p>
    @@fact(3) result: @fact(3)
</p>

@code {
    [DllImport("Test")]
    static extern int fact(int n);
}