.other{
    color: #d27728 !important;
}

.mnemonic {
    color: blue !important;
}

.comment {
    color: #0bc775 !important;
}

.row-number {
    color: #343232 !important;
}

.instruction {
    color: #6f42c1 !important;
}

