@font-face {
    font-family: 'JetBrainsMono';
    src: url('../font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.other {
    color: #d27728 !important;
}

.mnemonic {
    color: blue !important;
}

.comment {
    color: #008000 !important;
}

.row-number {
    color: #343232 !important;
}

.instruction {
    color: #6f42c1 !important;
}

.code-block pre {
    font-family: JetBrainsMono, monospace;
    padding-right: 2ex;
    margin: 0;
    width: 100%;
    padding-bottom: 1ex;
}

.code-line {
    display: block;
}

.code-line-highlight{
    background-color: #fff900;
}



